<div style="background-color:#f2f2f2">
    <center>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background-color:#f2f2f2">
            <tr>
                <td align="center" valign="top" style="padding:40px 20px">
                    <table border="0" cellpadding="0" cellspacing="0" style="width:600px">
                        <tr>
                        </tr>
                        <tr>
                            <td align="center" valign="top" style="padding-top:30px;padding-bottom:30px;background-color:#fff">
                                {{body|safe}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    <div style="font-family:verdana,arial,sans-serif;font-size:10px;color:#999999;text-align:left;padding:0 0 40px 20px">
        We hope you found this message to be useful. However,
        if you'd rather not receive future e-mails of this sort,
        please opt-out <a href="{{unsubscribe_url}}" target="_blank">here</a>.
        <br><br>
        Please note that this message was sent to the following e-mail address:
        <a href="{{email_address}}" target="_blank">{{email_address}}</a><br>
    </div>
    </center>
</div>
